.post-header{ display: flex;
    background-color: white;
    font-size: xx-small;
    font-family: "Roboto";
    padding:5px ;
}
body{ width: 300px;
height: 400px;
background-color: black;}
.ig-post{margin-top: 30px;
margin-left: 30px;
margin-right: 30px;
}
.imagenpfp {width: 15px;
    height: 30px;
object-fit:contain;}
.elipsis{margin-left: 170px;
margin-top: 3px;}
.imagenpanorama{width: 240px;
}
.post-icons{background-color: white;
display: flex;
margin-bottom: 0px;}
.post-body{background-color: white;}
p{font-size: xx-small;
margin-top: 0px;
font-family: "Roboto";
padding: 1px;}
.fa-bookmark{
  margin-left: 165px;
  margin-top: 2px;
}

.roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
/* {
    border: 1px dashed red;
    min-height: 10px;
}